[global_tags]

[agent]
  interval = "{{ telegraf_agent_interval }}"
  round_interval = {{ telegraf_agent_round_interval }}
  metric_batch_size = {{ telegraf_agent_metric_batch_size }}
  metric_buffer_limit = {{ telegraf_agent_metric_buffer_limit }}
  collection_jitter = "{{ telegraf_agent_collection_jitter }}"
  flush_interval = "{{ telegraf_agent_flush_interval }}"
  flush_jitter = "{{ telegraf_agent_flush_jitter }}"
  precision = "{{ telegraf_agent_precision }}"
  hostname = "{{ telegraf_agent_hostname }}"
  omit_hostname = {{ telegraf_agent_omit_hostname }}

[[outputs.influxdb]]

{% for input in telegraf_inputs %}

[[inputs.{{ input.name }}]]
{% for opt in input.opts %}
{{ opt.key }} = {{ opt.value }}
{% endfor %}

{% endfor %}
